<header class="header">
  <a href="/" class="header__logo">Digital Pulse</a>

  <nav class="header__nav">
    <ul>
      <li><a href="/homePage" class="">Home</a></li>
      <li><a href="/about" class="">About</a></li>
      <li><a href="/contact" class="">Contact</a></li>
    </ul>
  </nav>
  <div class="header__button">
    <button id="signUp" type="button">Sign Up</button>
    <button id="signIn" type="button">Login</button>
  </div>
</header>
