<h3>Email Verification</h3>
<form action="#" method="POST">
  <label for="email"><b>Email</b></label>
  <input type="email" name="email" id="email" placeholder="Enter email" />

  <input type="submit" class="btn" value="Get OTP" />
</form>
